table {
    width: 80%;
    margin: 5em auto;
  } 

   .orders-view {
    display: inline-block;
    float: left;
    width: 50%;
        /* margin: 5em auto; */
  }

  .instrument-header {
    padding-top: 10em;
    text-align: center;
  }


