<app-nav-bar></app-nav-bar>
<div class="my-profile-view">
<form class="example-form">
    <div class ="my-header">
        <h1>User details</h1>
    </div>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput disabled value={{user?.firstName}}>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput disabled value={{user?.lastName}}>
      </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput disabled value={{user?.email}}>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput disabled value={{user?.phoneNumber}}>
      </mat-form-field></td>
    </tr>
  </table>

    <!-- <div class="change-pass-button">
        <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button> 
    </div>     -->
</form>
</div>

<div class="my-profile-view">
    <div class ="executed-transactions-header">
        <h1>Executed transactions</h1>
    </div>
    <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

    <!-- TransactionId Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Transaction id </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.transactionId}} </td>
      </ng-container>

    <!-- CreatedTime Column -->
    <ng-container matColumnDef="creationTime">
      <th mat-header-cell *matHeaderCellDef> Creation time </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.createdTime}} </td>
    </ng-container>

      <!-- Order Id Column -->
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef> Order id </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.order.id}} </td>
      </ng-container>
    
      <!-- Type Column -->
      <ng-container matColumnDef="orderType">
        <th mat-header-cell *matHeaderCellDef> Order type </th>`
        <td mat-cell *matCellDef="let transaction"> {{transaction.order.orderType}} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.order.price}} </td>
      </ng-container>
  
      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.order.quantity}} </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>